.App {
  text-align: center;
}

.user-img {
  border: 2px solid white;
  border-radius: 35px;
}

.search-bar {
  border: 2px solid rgb(219, 213, 213);
  border-radius: 12px;
  width: 400px;
  height: 30px;
  margin: 25px 10px;
}

.card-container {
  display: flex;
  justify-content: center;
  padding: 20px; /*padding top and botttom*/
}

.user-title-padding {
  padding: 12px; /*padding between user profile img and user title*/
  word-wrap: break-all;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
